:host {
    ion-content {
        --background:none;
      background:url('/assets/img/splash_smo.png');
      background-color: #000000;
      background-size: cover;
      background-position: center center;
      --color: var(--ion-text-color,#fff);
    }
  
	.icons-basic-page {
		ion-icon {
			font-size: 60px;/*80px para ios 60 para android*/
			color: #ffffff;
		}

		ion-row {
			
			flex-wrap: wrap;
		}

		ion-col {
			flex: 0 0 33%;
			max-width: 33%;
			text-align: center;
			padding: 10px 5px;
		}
	}
}