<ion-tabs >

  <ion-tab-bar slot="bottom" color="secondary">
    <ion-tab-button tab="notificaciones">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="principal">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
